#verbpen {
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  z-index: 2147483647;

  .verbpen-text-capture{
    height: 20px;
    width: 100%;
    overflow: hidden;
  }
  .verbpen-floating-box{
    position: fixed;
    background-color: rgb(220, 52, 52);
    z-index: 2147483647;
    border-radius: 5px;
    padding: 5px;
    color: white;
    height: 60px;
    width: 100px;
    display: grid;
    place-items: center;
    top: 1vh;
    right: 1vw;
    
  }
}
